<!-- Form -->
<ng-template #content let-modal>
  <app-column-form [modal]="modal" [boardId]="id"></app-column-form>
</ng-template>
<!-- -->

<div class="container">
  <div class="row">
    <div class="col">
      <h3>{{ board?.name }}</h3>
      <p>{{ board?.description }}</p>
    </div>
    <div class="col text-end">
      <button class="btn btn-success" (click)="open(content)">+ Column</button>
    </div>
  </div>
</div>
<!-- FIXME: nice columns scrolling and responsive view -->
<div class="row row-cols-3 row-cols-md-4 g-5" cdkDropListGroup>
  <app-board-column
    *ngFor="let column of columns"
    [column]="column"
  ></app-board-column>
</div>
