<div class="forgot-password">
  <div class="authBlock">
    <h3>Reset Password</h3>
    <p class="">Please enter your email address to request a password reset.</p>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        palceholder="Username"
        #passwordResetEmail
        required
      />
    </div>
    <!-- Calling ForgotPassword from AuthService Api -->
    <div class="formGroup">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="authService.forgotPassword(passwordResetEmail.value)"
      >
        Reset Password
      </button>
    </div>

    <hr class="my-4" />
  </div>

  <div class="redirectToLogin">
    <span
      >Go back to ? <a class="redirect" routerLink="/sign-in">Log In</a></span
    >
  </div>
</div>
